/*
Error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 74 of /Users/hchen/octopress/sass/custom/_styles.scss
        from line 10 of /Users/hchen/octopress/sass/screen.scss

69: 
70: @media only screen and (min-width: 992px) {
71:   body { font-size: 1.15em; }
72:   .blog-index > article > .entry-title { font-size: $h1-font-size * 1.3; }
73:   }
74: }
75: 
76: #{headings()}{
77:   @extend .heading;
78:   text-rendering: optimizelegibility;
79:   margin-bottom: 1em;

Backtrace:
/Users/hchen/octopress/sass/custom/_styles.scss:74
/Users/hchen/octopress/sass/screen.scss:10
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:40:in `parse'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:309:in `to_tree'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `block in with_import'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `with_import'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:20:in `render'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:278:in `render'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/hchen/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/hchen/.rvm/gems/ruby-2.1.0/bin/compass:23:in `load'
/Users/hchen/.rvm/gems/ruby-2.1.0/bin/compass:23:in `<main>'
/Users/hchen/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/hchen/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 74 of /Users/hchen/octopress/sass/custom/_styles.scss\A         from line 10 of /Users/hchen/octopress/sass/screen.scss\A \A 69: \A 70: @media only screen and (min-width: 992px) {\A 71:   body { font-size: 1.15em; }\A 72:   .blog-index > article > .entry-title { font-size: $h1-font-size * 1.3; }\A 73:   }\A 74: }\A 75: \A 76: #{headings()}{\A 77:   @extend .heading;\A 78:   text-rendering: optimizelegibility;\A 79:   margin-bottom: 1em;"; }
